* text=auto
/.gitattributes text eol=lf
/.gitignore text eol=lf
/.python-version text eol=lf
/*.lock text eol=lf
*.md text eol=lf
*.py text eol=lf
*.typed text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.ps1 text eol=crlf
*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
